@use "../helpers"as *;

/*---------DEALERS (START)--------*/
.dealers {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-40);
        ;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__left {
        display: grid;
        align-content: center;
        gap: var(--space-40);
        ;
    }

    &__text {
        font-weight: 300;
        font-size: 20px;

        @include mobile {
            font-size: 14px;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &__right {
        align-content: center;
        overflow: hidden;
        aspect-ratio: 283 / 200;


        @include mobile {
            aspect-ratio: 1;
        }

        img {
            width: 100%;

            @include mobile {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*---------DEALERS (END)--------*/