@use "../helpers"as *;

/*---------MOBILE MENU (START)--------*/
.menu-humb {
    display: none;

    @include tablet {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        transition: background 0.2s ease-in-out;
    }
}

.menu-mob {
    display: none;

    @include tablet {
        display: block;
    }
}

.icon-humb {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.icon-humb__line {
    width: 100%;
    height: 1px;
    background: var(--color-white);
    border-radius: 2px;
    // transition: transform 0.2s ease-in-out;
}

.menu-mob {
    background: var(--color-base);
    position: fixed;
    top: var(--header-height);
    width: 100%;
    height: 100vh;
    padding-bottom: 60px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    overflow: hidden;

    &__inner {
        padding: 16px 16px 60px 16px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: 100%;
        overflow-y: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        padding-block: 24px;
        border-bottom: 1px solid var(--color-white);
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        .h2 {
            font-weight: 400;
            font-size: 14px;

            line-height: 2.14286;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__divider {
        font-size: 15px;
        line-height: 1;
    }

    &__phone,
    &__mail {
        font-weight: 400;
        font-size: 14px;
    }
}

.menu-mob.active {
    opacity: 1;
    z-index: 99;
    visibility: visible;
    overscroll-behavior: none;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button-mob {
    display: flex;
    justify-content: space-between;
}

/*---------MOBILE MENU (END)--------*/