@use "../helpers"as *;
/*---------STATS (START)--------*/
.stats-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(120);

    @include laptop-s {
        gap: rem(60);
    }

    @include tablet {
        gap: rem(40);
    }

    @include mobile {
        gap: 16px;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        font-family: var(--font-family-accent);
        color: var(--color-base);
        font-weight: 500;
        line-height: 0.9;
        text-align: center;
        background-color: var(--color-white);
        padding: 40px;
        border-radius: 8px;
        width: 100%;
        max-width: 305px;

        @include tablet {
            width: max-content;
        }

        @include mobile {
            width: 100%;
            max-width: 100%;
        }
    }

    &__value {
        font-size: 64px;
    }

    &__label {
        font-size: 32px;
    }
}
/*---------STATS (END)--------*/