@use 'helpers'as *;

// ширина контентного контейнера согласно параметрам амкета
.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    width: 100%;
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

body.no-scroll {
    overflow: hidden;
}

// скрыть элемент на ширине 768 и более
.visible-mobile {
    @include mobile {
        display: none !important;
    }
}

// Показывать ТОЛЬКО на мобильных (скрывать на планшетах и десктопах)
.visible-mobile-only {
    display: none !important;

    @include mobile {
        display: block !important;
    }
}
// скрыть элемент на ноуте
.visible-laptop-s {
    @include laptop-s {
        display: none !important;
    }
}
.visible-tablet {
    @include tablet {
        display: none !important;
    }
}
